// Place all the styles related to the admin/parts_genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$text-deco: "a:link, a:visited, a:hover, a:active";

.genre{
  max-width: 500px;
  margin: 30px auto 0;

  .genre_form{
    border-top: 1px solid #ddd;
    padding: 24px 50px;
    width: 80%;

    input[type="text"]{
    width: 300px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 6px;
    }

    input[type="submit"]{

    width: 50px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 6px;
    }
  }

  .genres{
    border-top: 1px solid #ddd;
    padding: 24px 50px;
    width: 80%;
    overflow: hidden;

    .genre_name{
      width: 150px;
      margin-left: 50px;
      float: left;
    }

    .genre_edit{
      background-color: #ddd;
      width: 70px;
      height: 25px;
      border-radius: 6px;
      color: black;
      text-decoration: none;
      text-align: center;
      float: left;
      #{$text-deco} {color: black;}
      #{$text-deco} {text-decoration: none;}
    }

    &:last-child{
      border-bottom: 1px solid #ddd;
    }
  }
}

.genre2{
  max-width: 500px;
  margin: 30px auto 0;

  .genre_form2{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 24px 50px;
    width: 80%;

    input[type="text"]{
    width: 300px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 6px;
    }

    input[type="submit"]{
    width: 50px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 6px;
    }
  }
}