<%= render partial: 'layouts/sidebar' %>

<div class="about">

  <div class="about-title">
    <h1>about!</h1>
  </div>

  <div class="about-text">
    <p>
      空いた時間に車のことで呟いたり、他の人の呟き見たりなど。</br>
      それに対してコメントして、車を通じての交流ができます。</br>
      投稿の使い方によっては、日記や記録付などにも使うことができます。</br>
      サイト内で検索をかけ、気になっている車の情報を探したい時にも活用できます。</br>
    </p>
  </div>

</div>