<%= render partial: 'layouts/sidebar' %>

<div class="index-pgenre">

  <h2>PartsGenre!</h2>

    <% @pgenres.each do |pgenre| %>

      <div class="index-parts-genres">

        <div class="index-pname">
          <%= link_to pgenre.pname, parts_genre_path(pgenre.id) %>
        </div>

      </div>

    <% end %>

</div>
