// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$text-deco: "a:link, a:visited, a:hover, a:active";

.home{
  flex: 1;
  max-width: 700px;
  margin: 0 auto;

  .home-post{
    border-top: 2px solid #ddd;
    width: 700px;
    padding: 30px auto;
    #{$text-deco} {color: black;}
    #{$text-deco} {text-decoration: none;}

    .home-post-user{
      width: 100%;
      font-weight: bold;
      overflow: hidden;
      padding-left: 150px;
      padding-right: auto;

      .plofile-image{
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 50%;
        float: left;
      }

      .home-user-right{
        float: left;
        padding: 10px 0;

        .user-car{
          font-size: 1px;
        }
      }
    }

    .home-post-image{
      margin: 0 auto;
      text-align: center;

      .car-image{
        max-width: 400px;
        max-height: 700px;
        border-radius: 10px;
      }
    }

    .home-post-title{
        width: 500px;
        margin-bottom: 20px;
        padding-left: 100px;
        padding-right: auto;

      .home-genre{
          font-weight: bold;
          font-size: 1px;
      }

      .home-title{
          font-weight: bold;
          font-size: 20px;
      }
    }
  }
}