.form{
  max-width: 500px;
  margin: 30px auto 0;

  .form-item{
    border-top: 1px solid #ddd;
    padding: 24px 50px;
    width: 80%;
    
    &:nth-child(8){
      border-bottom: 1px solid #ddd;
    }

    .form-item-label{
      width: 100%;
      font-weight: bold;
    }
  }

  input[type="text"]{
    width: 400px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 6px;
  }

  input[type="email"]{
    width: 400px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 6px;
  }

  input[type="password"]{
    width: 400px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 6px;
  }

  .form-submit{
    margin-left: 150px;
  }

  input[type="submit"]{
    margin: 30px 50px;
    width: 100px;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 6px;
  }

  input[type="file"]{
    display: none;
  }

  .btn{
    display: block;
    background-color: #ddd;
    width: 250px;
    height: 25px;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: 75px;
  }

  .select{
    width: 410px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 6px;
  }
}